/*-------GENERAL------------*/

body {
    font-family: sans-serif;
}
/*----------------------------HEADER--------*/
header {
    background: linear-gradient(to right)
}
header .img-responsive{
    opacity: 0.7;
    height: 50px;
    width: 360px;
    margin: px
    
}
header span{
    color: #d8dfe5;
    position: absolute;
    padding: 20px 70px;
    font-size: 11px;
    font-family: sans-serif;
}

.search-box input{
   padding: 7px;
   font-size: 15px;
   margin: 5px;
}
.search-box .fa-search{
    margin-left: -100px;
    margin-top: -3px;
}

/*------------------------------ SECTION HERO ------------------*/
.hero .banner{
    background: #383838 url(../img/banner.jpg) no-repeat;
    background-size: contain;
}

.movie-info{
    padding-top: 20px;
    padding-bottom: 20px;
        
}
.hero h1 {
    padding:10px;
    font-size: 25px;
    border-bottom: 1px solid #c1c1c1;
    width:200px;
    color: #c1c1c1;
    padding-left:0;
    font-family: sans-serif;
}
.hero span {
    font-size: 10px;
    padding: 5px;
    border: 2px solid #249f24;
    border-radius: 5px;
}
.hero table {
    font-size: 10px;
    margin-top: -38px;
    margin-bottom: 7px;
}
.hero p {
    font-size: 10px;
     margin-bottom: 7px;
}
.hero {
    color: #c1c1c1;
}
.hero input{
    background: #dec226;
    border-color:#dec226;
    border-radius: 4px;
    padding: 4px;
    text-transform: uppercase; 
    color: #fff1f1;
    font-size: 9px;
    margin-bottom: 10px;
}
.hero a{
    background: #c47e69;
    border-color:#c47e69;
    border-radius: 4px;
    padding: 4px;
   }
.hero a button{
    background: #c47e69;
    border-color:#c47e69;
    color: #fff1f1;
    text-transform: uppercase;
    font-size: 9px;
   }
.hero img{
    width: 45px;
    position: absolute;
    top: 175px;
    left: 210px;
}
/*------------------------------ estrenos ------------------*/
.estrenos img{
    width: 80%;
    width: 150px;
    height: 170px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.estrenos {
     background: #dec226;
}

/*------------------------------SECTION CONTENIDO ------------------*/
.contenido h1 small{
    color: #c1c1c1;
    font-size: 17px;
    font-family:sans-serif;
    position: absolute;
  
}
.contenido h1 {
    margin-top: 50px;
}
.contenido a {
    background: #c47e69;
    border-color:#c47e69;
    border-radius: 4px;
    }
.contenido a button {
    background: #c47e69;
    border-color:#c47e69;
    border-radius: 4px;
    color: #fff1f1;
    text-transform: uppercase;
    font-size: 10px;
    position: absolute:
    
}
/*------------------------------ cartelera ------------------*/
.cartelera img{
    width: 100%;
}
